@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@section scripts
{
<script type="text/javascript">
    
    $(function() {
        
        // add click event to post the message to the server

      
        
        // immediate fn to kick off the initial poll
      

    });
    

</script>
}
	@* html for the ui in index.cshtml*@
	
			   

